@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
  margin: 0;
}

#root {
  min-height: 100vh;
}

html {
  overflow-y: scroll;
}
